.sideDrawer {
    height: 100%;
    width: 260px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;
    background-color: #fff;
    padding: 30px 15px;
    box-sizing: border-box;
    transition: transform .5s ease-out;
}

@media (min-width: 600px) {
    .sideDrawer {
        display: none;
    }
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(100%);
}
